th {
    text-align:right;
}
tr.categoryLabel td{
    font-size:1.1;
    padding-top:.5em;
    font-weight:bold;
    text-transform:uppercase;
    text-align:right;
}
tr.categoryLabel td.cat{
    text-align:left;
    padding-left:0;
}
tr:hover td:first-child{
    background:#eee;
}

tr td:first-child {
    padding-left:1em;
}

tr.categoryLabel:hover td:first-child {
    background:inherit;
}

#tableHolder input {
    max-width:5em;
    text-align:right;
    border:none;
    cursor:pointer;
    transform:all .1s;
}
#tableHolder input:hover{
    background:#eee;
}
#tableHolder input:focus {
    background:#ccc;
    cursor:text;
}
input:focus::-moz-placeholder {
    color: transparent;
}  
input:focus::-webkit-input-placeholder {
    color: transparent;
}

.action {
    text-align:right;
}
.btn {
    clear:both;
}
#saveData {
    display:none;
    position:fixed;
    bottom:1.5em;
    right:.5em;
}
#newStation {
    float:right;
}
h3 a {
    cursor:pointer;
}  
th {
    background:rgba(255,255,255,0.8);
}
@media only screen and (max-width : 959px){
    #tableHolder input[type=number] {
        width:6em;
    }
    span.picker{
        margin-left:1em;
    }
    .jumbotron {
        color:#000;
    }
}
table{
    margin-bottom:20em;
}
body.dark {
    background:#000;
    color:#fff;
}
body.dark input {
    background:#000;
}
body.dark th {
    background:rgba(0,0,0,0.8);
}

body.dark span.picker {
    background:#000;
}
body.dark tr:hover td:first-child{
    background:#555;
}

input.hidden {
    display:none;
}

span.picker {
    margin-left:2em;
    background:#eee;
    display:inline-block;
}
span.picker a {
    outline:none;
    margin:.2em;
    text-decoration:none;
    color:#bbb;
    display:inline-block;
    min-width:1.5em;
    text-align:center;
    min-height:1.5em;
}

span.picker a.selected {
    background:#bbb;
    color:#fff;
}


body.oj {
    background:#000;
    color:#fe9931;
    font-family: 'Roboto Condensed', sans-serif;    
}

body.oj .jumbotron {
    background: radial-gradient(ellipse at center, #000000 0%,#8c3b00 100%);
    color:#fe9931; 
}

body.oj input {
    border-color:#c15910;
/*    border-color:#fe9931;*/
    background:#8c3b00;
    color:#fbce00;
}

body.oj input:focus {
    background:#fe9931;
    color:#000;
    color:#fbce00;
}

body.oj input.form-control::-moz-placeholder {
    color:#f37006;
}
body.oj input.form-control::-webkit-input-placeholder {
    color:#f37006;
}
body.oj a {
    color:#fbce00;
}

body.oj a.list-group-item {
    background:#8c3b00;
    color:#fe9931;
    border-color:#c15910;    
}

body.oj .list-group-item.disabled, .list-group-item.disabled:hover, .list-group-item.disabled:focus {
    background:#000;
    color:#8c3b00;
}

body.oj #tableHolder input {
    background:#000;
}
body.oj #stations th,
body.oj #tableHolder th {
    background:rgba(0,0,0,0.8);
}

body.oj span.picker {
    background:#000;
}
body.oj span.picker a {
    color:#fe9931;
    background:#000;
}

body.oj span.picker a.selected {
    background:#8c3b00;
    color:#fbce00;
}

body.oj tr td {
    border-bottom:1px solid #000;
    transition:border;
}

body.oj tr:hover td {
    background:#000;
    border-bottom:1px solid #c15910;
}
body.oj tr:hover td:first-child {
    color:#fbce00;
}
body.oj tr.categoryLabel:hover td {
    border-bottom:1px solid #000;
    color:#fe9931;
}

body.oj .btn-primary {
    background:radial-gradient(ellipse at center, #000000 0%,#8c3b00 100%);
    border-color: #8c3b00;
    color: #fbce00; 
}

body.oj .btn-primary:hover,
body.oj .btn-primary:active {
    background: #8c3b00;
    border-color: #8c3b00;
}

body.oj .navbar-default {
    background:radial-gradient(ellipse at center, #000000 0%,#8c3b00 100%);
}

body.oj .navbar-default .navbar-nav>.active>a,
body.oj .navbar-default .navbar-nav>.active>a:hover,
body.oj .navbar-default .navbar-nav>.active>a:focus {
    background:#8c3b00;
}

textarea{
    color:#000
}
#rawForm {
    display:none;
}
#routeput {
    margin:2em;
    font-size:1.3em;
}
body.dark input {
    color:#fff
}         
#routeput .list-group {
    margin-top:2em;
}
#routeput .list-group-item {
    transition:all .1s;
}
#rate {
    position:fixed;
    bottom:0;
    width:inherit;
    padding:.5em;
    background:#000;
    display:none;
    opacity:0.8;
    width:100%;    
    text-align:center;
}
input.missing {
    border-color:red;
}
.pane {
    display:none;
    min-height:20em;
}
.pane.active{
    display:block;
}

tr.missingPricing {
    display:none;
}


span.twitter-typeahead {
    width: 100%;
}

.typeahead-wrapper {
    display: block;
    margin: 1em;
}

.tt-dropdown-menu {
    background-color: #8c3b00;
    border: 1px solid #000;
}

.tt-suggestions div{
    margin:0.5em;
    min-width:25em;
    width: 100%;
}

.tt-suggestion.tt-cursor {
    background-color: #c15910;
    color:#fbce00;
}

body.oj .categoryLabel a,
.categoryLabel a {
    outline:none;
    margin:.2em;
    text-decoration:none;
    color:#999;
    display:inline-block;
    min-width:1.5em;
    text-align:center;
    min-height:1.5em;    
    
}
#navOutput {

}

.simpleTable {
    width:80%;
}   
.simpleTable th {
    text-align:left;
    background:#000;
}

input::-moz-outer-spin-button,
input::-moz-inner-spin-button,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    -moz-appearance:none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.list-group-item.disabled + .list-group-item.disabled .glyphicon,
.list-group-item .glyphicon {
    float:right;
    visibility:hidden;
    clear:both;
}

.list-group-item:first-child:not(.disabled) .glyphicon,
.list-group-item.disabled + .list-group-item .glyphicon {
    visibility:visible;
}

.progress .progress-bar {
    height:2em;
    background-color:#fbce00;
}

.progress {
    background-color:#999;    
}

.container {
    padding-bottom:2em;
}

